 
    <body>
        <div class="subwrap">
            <div class="headerwrap">
                <div class="toolbar">
                    <button type="button" class="btn_head_back">Back</button>
                    <h1 class="title">Application</h1>
                </div>
            </div>
            <div class="contentwrap">
                <div class="card_box">
                    <div class="dlist01">
                        <dl>
                            <dt><span>Score of Non-Collateral</span></dt>
                            <dd><span>322</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Score of Collateral</span></dt>
                            <dd><span>0</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Grade of Non-Collateral</span></dt>
                            <dd><span>1</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Grade of Collateral</span></dt>
                            <dd><span>0</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Result of Filtering Rule</span></dt>
                            <dd><span>0</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Result of Cut-off Strategy</span></dt>
                            <dd><span>Approved</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Result of Override Strategy</span></dt>
                            <dd><span>Approved</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Co-Borrower's Result of Approval Strategy</span></dt>
                            <dd><span>300.00</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Guarantor’s Result of Approval Strategy</span></dt>
                            <dd><span>Approved</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Borrower’s Result of Approval Strategy</span></dt>
                            <dd><span>Approved</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Final Result of Approval Strategy</span></dt>
                            <dd><span>Approved</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Credit Index</span></dt>
                            <dd><span>1.0625</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Adjusted Liabilities</span></dt>
                            <dd><span>1500</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Credit Limit</span></dt>
                            <dd><span>2460</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Collateral Limit</span></dt>
                            <dd><span>0</span></dd>
                        </dl>
                        <dl>
                            <dt><span>Result of Authority Strategy</span></dt>
                            <dd><span>RM</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="footerwrap">
                <div class="toolbar">
                    <button type="button" class="btn_primary"><span>OK</span></button>
                </div>
            </div>
        </div>
    </body>
 